In [1]:
#import dependencies
import pandas as pd
from bs4 import BeautifulSoup as bs
from splinter import Browser
import requests
import time

In [2]:
#setup and open browser
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
# URL of page to be scraped
url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'

In [4]:
# Go to url
browser.visit(url)
#allow browser to load (source: Jeremy Hamley in Slack channel ask-the-class)
time.sleep(5)

In [5]:
# Create BeautifulSoup object; parse with 'lxml'
html = browser.html
soup = bs(html, 'lxml')

In [6]:
#find part of webpage with article titles and article teasers
basic_info = soup.find('div', class_="list_text")
basic_info

<div class="list_text"><div class="list_date">August 12, 2020</div><div class="content_title"><a href="/news/8735/celebrate-mars-reconnaissance-orbiters-views-from-above/" target="_self">Celebrate Mars Reconnaissance Orbiter's Views From Above</a></div><div class="article_teaser_body">Marking its 15th anniversary since launch, one of the oldest spacecraft at the Red Planet has provided glimpses of dust devils, avalanches, and more.</div></div>

In [7]:
#Find latest article title
news_title = basic_info.find('a').text
#Find latest article teaser
news_p = basic_info.find('div', class_="article_teaser_body").text

In [8]:
#JPL Mars Space Images - Featured Image
jpl_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'

In [9]:
# Go to url
browser.visit(jpl_url)
#set up beautiful soup for the jpl link
html2 = browser.html
soup2 = bs(html2, 'lxml')

In [10]:
# Click the 'Full Image' button to get Full image url
browser.click_link_by_partial_text('FULL IMAGE')

C:\Users\Amber\Anaconda3\envs\PythonData\lib\site-packages\splinter\driver\webdriver\__init__.py:528: FutureWarning: browser.find_link_by_partial_text is deprecated. Use browser.links.find_by_partial_text instead.
  FutureWarning,

In [11]:
#continue navigating to find 'largesize' picture
browser.click_link_by_partial_text('more info')

In [12]:
#set beautiful soup for more info page
html3 = browser.html
soup3 = bs(html3, 'lxml')

In [13]:
#find part with image info
jpl_info = soup3.find_all('figure', class_="lede")
jpl_info

[<figure class="lede">
 <a href="/spaceimages/images/largesize/PIA01322_hires.jpg"><img alt="NASA's Spitzer and Hubble Space Telescopes have teamed up to expose the chaos that baby stars are creating 1,500 light-years away in a cosmic cloud called the Orion nebula." class="main_image" src="/spaceimages/images/largesize/PIA01322_hires.jpg" title="NASA's Spitzer and Hubble Space Telescopes have teamed up to expose the chaos that baby stars are creating 1,500 light-years away in a cosmic cloud called the Orion nebula."/></a>
 </figure>]

In [14]:
#show only first (and only) item in the list
jpl_list_item = jpl_info[0]

In [15]:
#get partial image link
featured_image_partial_link = jpl_list_item.a['href']
featured_image_partial_link

'/spaceimages/images/largesize/PIA01322_hires.jpg'

In [16]:
#concat full image link
jpl_main_link = 'https://www.jpl.nasa.gov'
featured_image_url = jpl_main_link+featured_image_partial_link
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA01322_hires.jpg'

In [17]:
#Mars Weather
mars_twitter = 'https://twitter.com/marswxreport?lang=en'
# Go to url
browser.visit(mars_twitter)

In [20]:
# Create BeautifulSoup object; parse with 'lxml'
html_twitter = browser.html
soup4 = bs(html_twitter, 'lxml')

In [21]:
#find part with tweet information
twitter_tweets = soup4.find_all('div', class_="css-901oao r-hkyrab r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-bnwqim r-qvutc0")
mars_weather  = twitter_tweets[0].text
mars_weather = mars_weather.replace('\n',',')
mars_weather

'InSight sol 608 (2020-08-11) low -93.0ºC (-135.5ºF) high -19.5ºC (-3.1ºF),winds from the WNW at 8.5 m/s (19.0 mph) gusting to 23.8 m/s (53.3 mph),pressure at 7.90 hPa'

In [22]:
#Mars Facts
mars_facts_url = 'https://space-facts.com/mars/'

In [23]:
#read the html using pandas to get tables
mars_tables = pd.read_html(mars_facts_url)
mars_tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [24]:
#use first table for mars facts
mars_df = mars_tables[0]
mars_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [25]:
#rename columns and set index
mars_df.columns = ['Mars Fact', 'Value']
mars_df.set_index('Mars Fact', inplace=True)
mars_df

                                              Value
Mars Fact
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [26]:
#create html table string and remove \n
mars_fact_html_table = mars_df.to_html()
mars_fact_html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Value</th>    </tr>    <tr>      <th>Mars Fact</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [27]:
#Mars Hemispheres
mars_hemi_link = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'

In [28]:
# Go to Mars Hemispheres url
browser.visit(mars_hemi_link)

#set up beautiful soup for the link
mars_hemi_html = browser.html
soup5 = bs(mars_hemi_html, 'html.parser')

In [29]:
#find the hemisphere names and append to list
mars_hemispheres = []
headers = soup5.find_all('a',class_="itemLink product-item")
for header in headers:
    title = str(header.find('h3'))
    #strip out the Nonetypes and tags
    if title != 'None':
        title = title.lstrip('<h3>')
        title = title.rstrip('</h3>')
        mars_hemispheres.append(title)
mars_hemispheres

['Cerberus Hemisphere Enhanced',
 'Schiaparelli Hemisphere Enhanced',
 'Syrtis Major Hemisphere Enhanced',
 'Valles Marineris Hemisphere Enhanced']

In [30]:
#loop through the hemisphere names to find the image urls
hemisphere_image_urls = []
for hemisphere in mars_hemispheres:
    # Click the hemisphere name link to get image url information
    browser.click_link_by_partial_text(hemisphere)
    mars_hemisphere_link = browser.html
    #get url to full resolution image
    soup_mars_hemi = bs(mars_hemisphere_link, 'html.parser')
    hemi_results = soup_mars_hemi.find_all('div',class_="downloads")
    hemi_pic_url = hemi_results[0].find('a')['href']
    #return to main page
    browser.visit(mars_hemi_link)
    #clean up hemisphere name
    hemisphere = hemisphere.replace(" Enhanced",'')
    #create hemisphere dictionary
    mars_dict = {}
    mars_dict = {
        'title':hemisphere,
        'img_url':hemi_pic_url
    }
    #append to list of hemisphere dictionaries
    hemisphere_image_urls.append(mars_dict)

C:\Users\Amber\Anaconda3\envs\PythonData\lib\site-packages\splinter\driver\webdriver\__init__.py:528: FutureWarning: browser.find_link_by_partial_text is deprecated. Use browser.links.find_by_partial_text instead.
  FutureWarning,

In [31]:
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere',
  'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemisphere',
  'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemisphere',
  'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemisphere',
  'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]

In [32]:
#create a dictionary with all results
mars_data = {}
mars_data = {
        "News_Title":news_title,
        "News_Paragraph":news_p,
        "JPL_image":featured_image_url,
        "Mars_Weather": mars_weather,
        "Mars_Facts":mars_fact_html_table,
        "Hemisphere_pictures":hemisphere_image_urls 
                }
print(mars_data)

{'News_Title': "Celebrate Mars Reconnaissance Orbiter's Views From Above", 'News_Paragraph': 'Marking its 15th anniversary since launch, one of the oldest spacecraft at the Red Planet has provided glimpses of dust devils, avalanches, and more.', 'JPL_image': 'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA01322_hires.jpg', 'Mars_Weather': 'InSight sol 608 (2020-08-11) low -93.0ºC (-135.5ºF) high -19.5ºC (-3.1ºF),winds from the WNW at 8.5 m/s (19.0 mph) gusting to 23.8 m/s (53.3 mph),pressure at 7.90 hPa', 'Mars_Facts': '<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>Mars Fact</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>', 'Hemisphere_pictures': [{'title': 'Cerberus Hemisphere', 'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'}, {'title': 'Schiaparelli Hemisphere', 'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'}, {'title': 'Syrtis Major Hemisphere', 'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'}, {'title': 'Valles Marineris Hemisphere', 'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]}